@import "./variables.scss";

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#main-content {
  padding: 20px;
}
.btn {
  border-radius: 7px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.btn-plain {
  box-shadow: var(--box-shadow);
  background-color: var(--color-primary);
  color: white;
  &:hover {
    background-color: var(--color-primary-hover);
  }
}
